/* .mainWrapper {
    position: relative;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

@media (max-width: 760px) {
    .mainWrapper {
        grid-template-columns: 1fr
    }
} */