.search {
    display: flex;
    width: 100%;
    background-color: #fff;
    gap: 12px;
}

.dark {
    background-color: #23272f;
}

.dark .input {
    border: 2px solid rgb(60, 60, 60);
    background-color: #f6f7f9;
}

.light {
    background-color: #F0F8FF;
}

.input {
    outline: none;
    width: 100%;
    padding: 10px;
    border: 2px solid #e7e7e7;
    border-radius: 12px;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.input:focus {
    border-color: #6b4eff;
}