* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

.main {
    position: relative;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}
@media (max-width: 760px) {
    .main {
        grid-template-columns: 1fr
    }
}
/* @media (max-width: 760px) {
    .main {
        display: flex;
        flex-direction: column-reverse;
    }
} */

.container {
    padding: 24px;
    min-height: 100vh;
}

.wrap.dark .container {
    background-color: #23272f;
}

.wrap.light .container {
    background-color: #F0F8FF;
}

.wrap.dark p,
.wrap.dark h3,
.wrap.dark h1 {
    color: #F0F8FF;
}

.wrap.light p,
.wrap.light h3,
.wrap.light h1 {
    color: #000000;
}

